p {
    font-size: 14px;
    font-weight: 500;
}

.Submitbtn {
    font-size: 14.5px;
    padding: 6px 15px 5px 15px;
}

.SubmitbtnSM {
    font-size: 14px;
    padding: 4px 9px 4px 9px;
}

.Submitbtn svg {
    width: 19px !important;
}


.SubmitbtnSM svg {
    width: 19px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 10px 0;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: 11px;
    left: 3px;
    height: 14px;
    width: 14px;
}


div.dataTables_wrapper div.dataTables_paginate {
    margin: 7px 0 0 0;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 1em;
    white-space: nowrap;
}


.Campaign a {
    color: #000 !important;
}

/*form Validation*/

.parsley-error {
    border-color: #ff5b5b !important;
}

.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0;
}

.parsley-errors-list.filled {
    display: block;
}

.parsley-errors-list > li {
    font-size: 12px;
    list-style: none;
    color: #ff5b5b;
}

/*form Validation*/


/*Input Icons*/
.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    color: #007bff;
    min-width: 0px;
}

.input-icons .input-field {
    width: 100%;
    padding-left: 27px;
}

/*Input Icons*/

.DisplayNone {
    display: none;
}

.list-group-item.active {
    color: inherit;
    background-color: #71b6f9;
    border-color: #6da2d6;
}



input[type=radio] {
    margin: 15px 0;
    height: 17px;
    width: 17px;
    border: 1px solid #000;
}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 5px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
    font-size: 17px;
    margin-bottom: 0;
}
